#Ignore node_modules
node_modules

#Ignore vscode AI rules
.github\instructions\codacy.instructions.md

# Sensitive files
.env

# VS Code
.history/
.lh/
.vscode/

# Documents
Documentos/
.scratch/
.claude/
cambios de styles.md
Cambios redundantes en el proyecto.md
implementation_plan-Change in the reforces css.md



