<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar sesión | Willpig Studio</title>
    <link rel="stylesheet" href="/css/style1.2.css" />
    <link rel="icon" href="/img/img.ico/logo.ico" />
</head>

<body>

    <div class="login-pocketIN">

        <div class="login-visual">
            <img src="/img/img.ico/fondo_register2.jpg" alt="Imagen Login">
            <!-- Imagen de referencia en movimiento o estatica-->
        </div>

        <div class="login-form-section">
            <div class="login-box">

                <h1>Inicia sesión</h1>
                <p>Bienvenido de nuevo a Willypig Studio</p>

                <form action="/auth/login" method="POST" class="form-login">
                    <div class="form-group">
                        <label for="correo">Correo electrónico</label>
                        <input type="email" id="correo" name="correo" required placeholder="ejemplo@correo.com">
                    </div>

                    <div class="form-group">
                        <label for="contrasena">Contraseña</label>
                        <input type="password" id="contrasena" name="contrasena" required placeholder="Tu contraseña">
                    </div>

                    <button type="submit" class="btn-login-pocket">Iniciar sesión</button>
                </form>

<<<<<<< HEAD
                <!-- ENLACES -->
                <a href="/auth/olvido" class="forgot">¿Olvidaste tu contraseña?</a>
=======
            <!-- redirreción para la recuperación de contraseña-->
            <a href="/auth/olvido" class="forgot">¿Olvidaste tu contraseña?</a>
            
            <!--funciona para dar un mensaje de error al presionar olvidar contraseña -->

            <% if (typeof error !== "undefined" && error.startsWith('Se ha enviado')) { %>
                <p class="text-success"><%= error %></p>
            <% } %>
>>>>>>> 6ded87912962014a4d6dbfaf430042b1f00462f8

                <!-- si venimos de la página de olvido con mensaje, se muestra -->
                <% if (typeof error !=="undefined" && error.startsWith('Se ha enviado')) { %>
                    <p style="color: green;">
                        <%= error %>
                    </p>
                    <% } %>

                        <div class="divider"> O continúa con </div>

                        <div class="social-login">
                            <button class="social-btn google">
                                <img src="/img/img.ico/google_login_color.png" width="20"> Continuar con Google
                            </button>
                        </div>

                        <p class="register-text">¿No tienes cuenta? <a href="/auth/register">Regístrate aquí</a></p>

                        <!-- Mostrar error si existe -->

                        <% if (typeof error !=="undefined" ) { %>
                            <p style="color:rgb(124, 2, 2);">
                                <%= error %>
                            </p>
                            <% } %>

            </div>
<<<<<<< HEAD
        </div>
    </div>

=======

            <p class="register-text">¿No tienes cuenta? <a href="/auth/register">Regístrate aquí</a></p>

            <!--funcionalidad mensaje de error, si los datos estan mal --> 
            <% if (typeof error !== "undefined") { %>
                <p class="text-danger"><%= error %></p>
            <% } %>

        </div>
    </div>
</div>
>>>>>>> 6ded87912962014a4d6dbfaf430042b1f00462f8
    <% include('partials/footer') %>
</body>

</html>