<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Olvido de Clave | Willpig Studio</title>
    <link rel="stylesheet" href="/css/style1.2.css" />
    <link rel="icon" href="/img/img.ico/GABALI baloo.ico" />
</head>

<body>


    <div class="login-pocketIN">

        <div class="login-visual">
            <img src="/img/img.ico/fondo_register2.jpg" alt="Imagen Login">
            <!-- Imagen de referencia en movimiento o estatica-->
        </div>

        <div class="login-form-section">
            <div class="login-box">

                <h1>Olvido de Contraseña</h1>
                <p>Introduce el correo vinculado a tu cuenta</p>
                <p>Por favor, revisa tu correo para continuar con el proceso de restablecer tu clave</p>

                <form action="/auth/olvido" method="POST" class="form-login">
                    <div class="form-group">
                        <label for="correo">Correo electrónico</label>
                        <input type="email" id="correo" name="correo" required placeholder="ejemplo@correo.com">
                    </div>

                    <button type="submit" class="btn-login-pocket">Enviar Recuperación</button>
                </form>

                <p class="register-text">¿No tienes cuenta? <a href="/auth/register">Regístrate aquí</a></p>
                <p class="register-text"><a href="/auth/login">Volver a iniciar sesión</a></p>

                <!-- Mostrar error si existe -->

                <% if (typeof error !=="undefined" ) { %>
                    <p style="color:rgb(124, 2, 2);">
                        <%= error %>
                    </p>
                    <% } %>

            </div>
        </div>
    </div>

    <%- include('partials/footer') %>
</body>

</html>

