<!-- Pie / comunidad -->
<footer>
  <p>© 2026 Willpig — Todos los derechos reservados.</p>

  <div class="footer-links">
    <a href="/">Willpig</a>
    <a href="/historias/crear">Escribir</a>
    <a href="/auth/register#terminos">Términos</a>
    <a href="/buscar">Ayuda</a>
  </div>
  <script src="/js/script.js"></script>
</footer>
