<!-- Pie / comunidad -->
<footer>
  <p>© 2025 Willpig — Todos los derechos reservados.</p>

  <div class="footer-links">
    <a href="/">Willpig</a>
    <a href="#">Writers</a>
    <a href="#">Terms</a>
    <a href="#">Help</a>
  </div>
  <script src="/js/script.js"></script>
</footer>
